<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="device-width, intial-scale=1" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/site.css" />
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">The Real World</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">NatGeo Wild</a></li>
                <li><a href="#">Naked Science</a></li>
            </ul>
        </div>

        <div class="jumbotron">
            @RenderBody()
        </div>

        <div class="row">
            <div class="col-md-8" id="first-cat">Category 1</div>
            <div class="col-md-4" id="second-cat">Category 2</div>
        </div>
        <div> Copyright by Umineneneko @DateTime.Now.Year.ToString()</div>
    </div>
</body>
</html>
